
<div class="jumbotron jumbotron-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60)">
  <div class="container">
    <h1 class="display-4">Check Out Our Restaurants</h1>


  </div>
</div>



<div class="home-card-container">
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1569702824812-351205c9cde5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zm9ya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60)">
  <%= link_to "All Restaurants", restaurants_path, class: "home-links" %>
</div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1569702824812-351205c9cde5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zm9ya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60)">
  <%= link_to "Top Rated Restaurants", top_restaurants_path, class: "home-links" %>
</div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1569702824812-351205c9cde5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zm9ya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60)">
  Can't choose?
  <p><%= link_to "We'll choose for you", random_restaurants_path, class: "home-links" %></p>
</div>

</div>


</div>

<div class="jumbotron2 jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <p class="lead"></p>

  </div>
</div>
