<h1>Your Favorite Restaurants:</h1>

<ul>
  <% @restaurants.each do|restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %> - <%= restaurant.address %></li>
  <% end %>
</ul>
