<div class="container">
  <h1>Top Rated Restaurants:</h1>

  <div id="Restaurants">
    <ul>
      <% @restaurants.each do|restaurant| %>
        <li><%= link_to restaurant.name, restaurant_path(restaurant) %> - <%= restaurant.address %></li>
    <% end %>
    </ul>
  </div>
</div>
