.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

// .show-name {
//   color: white;
// }

// .show-p {
//   color: white;
// }
